@import '../../styles/_variables';

.chat-container {
  flex-grow: 1;
  height: calc(100vh - 20rem);
  position: relative;
  border-radius: $padding-medium;
  background-color: $main-color-light;
  overflow: hidden;
  padding: $padding-small;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .scrollbar-padding {
    overflow-y: auto;
    height: calc(100% - 7rem);
    width: calc(100% - 1rem);

    --sb-track-color: #dedede;
    --sb-thumb-color: #93979f;
    --sb-size: 10px;

    &::-webkit-scrollbar {
      width: var(--sb-size);
    }

    &::-webkit-scrollbar-track {
      background: var(--sb-track-color);
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--sb-thumb-color);
      border-radius: 1rem;
    }

    @supports not selector(::-webkit-scrollbar) {
      body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
      }
    }
  }
}

.chat-body {
  padding: $padding-large $padding-medium $padding-medium;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: visible;
  height: auto;
  min-height: 100%;
}

.chat-intro {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  margin-bottom: $padding-medium;

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: $font-large;
    color: $main-color;
  }

  .action {
    button {
      width: 100%;
    }
  }

  strong {
    color: $secondary-color-darker;
    opacity: 0.7;
    text-transform: capitalize;
  }
}

.chat-entry {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;

  &.chat-entry {
    margin-bottom: 2rem;
  }
}

.current-question {
  margin: 2rem 0 3rem;
}

.bubble {
  font-weight: 500;
  font-size: $font-medium;
  padding: $padding-medium;
  border-radius: 1rem;
  opacity: 0.6;
  position: relative;
}
.question,
.current-question,
.feedback {
  background-color: $secondary-color-darker;
  color: $text-light-color;
  text-align: left;
  align-self: flex-start;
}

.question::before,
.current-question::before,
.feedback::before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 2rem solid $secondary-color-darker;
  border-right: 1rem solid transparent;
  border-top: 1rem solid $secondary-color-darker;
  border-bottom: 2rem solid transparent;
  left: 2rem;
  bottom: -2rem;
}

.answer {
  background-color: $main-color;
  color: $text-light-color;
  text-align: right;
  align-self: flex-end;
}

.answer::before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 2rem solid $main-color;
  border-left: 2rem solid transparent;
  border-top: 2rem solid $main-color;
  border-bottom: 2rem solid transparent;
  right: 2rem;
  bottom: -2rem;
}

.controlsBox {
  button {
    border: 1px solid $main-color;
    &.primary {
      background-color: $main-color;
      color: $white;
    }
    &.secondary {
      background-color: transparent;
      color: $main-color;
    }
    &:disabled {
      cursor: none;
      background: transparent;
      border: 1px solid $main-color-medium;
      color: $main-color-medium;
    }
  }
}
