@use 'sass:color';

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1.2;
}

p {
  font-size: $font-medium;
  text-wrap: pretty;
}

a {
  font-weight: 500;
  color: $secondary-color;
  text-decoration: inherit;

  &:hover {
    color: color.scale($secondary-color-darker);
  }
}
