body {
    font-size: 1.5rem;
}
  
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    line-height: 1.2;
}

h1 {
    font-size: 4rem;
  }
  
p {
    font-size: $font-medium;
    text-wrap: pretty;
}
  
a {
    font-weight: 500;
    color: $accent;
    text-decoration: inherit;
  
    &:hover {
      color: lighten($accent, 10%);
    }
}