// styles/_variables.scss

// Color variables
$dark: #242424;
$accent: #646cff;
$light: #ffffde;

// Spacing
$padding-small: 1rem;
$padding-medium: 2rem;
$padding-large: 4rem;

// Font sizes
$font-small: 1.2rem;
$font-medium: 1.6rem;
$font-large: 2.4rem;
