@import '../../styles/_mixins';
@import '../../styles/_variables';

.footer {
  padding: $padding-medium;
  @include center-flex;
  background: $main-color-medium;
}

.main.chat + .footer {
  display: none;
}
