// components/layout/Header.scss

@import '../../styles/_mixins';
@import '../../styles/_variables';

.header {
  @include center-flex;
  padding: $padding-medium;
  background-color: $white;
  color: $main-color-medium;
  height: 4rem;
  margin: 2rem 0 0 0;
}

.logo {
  height: 4rem;
  margin-top: 1rem;
}
