@import '../../styles/_mixins';
@import '../../styles/_variables';

.header {
  @include center-flex;
  padding: $padding-medium;
  background-color: $white;
  color: $main-color-medium;
  height: 6rem;
  margin: 3rem 3rem 0 3rem;
}

.logo {
  height: 4.4rem;

}

.logged-in-menu {
  display: none;
}

.chat .header {
  @include header-inner;

  .logo {
    height: 3.2rem;
    margin-top: $padding-medium
  }

  .logged-in-menu {
    display: block;
    font-size: 3.2rem;
    display: flex;
    gap: 1.4rem;
    align-items: center;
    justify-content: flex-end;
  }

  .search {
    font-size: 2rem;
    padding: 0.5rem;
    border: 1px solid $main-color-dark;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
}
