// components/layout/Layout.scss

@import '../../styles/_mixins';
@import '../../styles/_variables';

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper > * {
    @include center-flex; 
    text-align: center;
}

.header { 
    @include center-flex;
    padding: $padding-medium; 
}

.main { 
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: $padding-medium;
    padding: $padding-large $padding-medium; 
}
  
.footer { 
    @include center-flex;
    padding: $padding-medium;
}

/* TEMP - Vite starter styles for the logo */
.logo {
    height: 6em;
    padding: $padding-small;
    will-change: filter;
    transition: filter 300ms;
}

@keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}
