@import '../styles/_mixins';
@import '../styles/_variables';

.greetings {
    &__logo{
        width: 30%;
    }
    &__title{
        font-family: map-get($subtitle, font-family);
        font-weight: map-get($subtitle, font-weight);
        font-size: 2.4rem;
        padding: $padding-small;
    }
    &__body{
        font-family: map-get($body, font-family);
        font-weight: map-get($body, font-weight);
        font-size: $font-medium;
        padding: $padding-small;
    }
};
