@import '../styles/_variables';

.legal {
  &__title {
    font-size: 3rem;
    padding: $padding-medium;
    font-weight: 700;
  }
  &__subtitle1 {
    font-size: 2.5rem;
    padding: $padding-small;
    font-weight: 700;
    text-align: left;
  }
  &__subtitle2 {
    font-size: 2rem;
    padding: $padding-small;
    font-weight: 700;
    text-align: left;
  }
  &__text {
    font-size: 1.6rem;
    padding: $padding-small;
    text-align: left;
  }
  &__list{
    &__item{
    font-size: 1.6rem;
    padding: $padding-small;
    margin-left: 3rem;
    text-align: left;
}
  }
}
