// components/pages/Login.scss
@import '../styles/_mixins';
@import '../styles/_variables';

.login {
  &__title {
    font-family: map-get($subtitle, font-family);
    font-weight: map-get($subtitle, font-weight);
    font-size: 2rem;
    padding: $padding-small;
  }
  &__body {
    font-family: map-get($body, font-family);
    font-weight: map-get($body, font-weight);
    font-size: 1.6rem;
    padding: $padding-small;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: $padding-medium;
  padding-top: 0px;
  &__logo {
    width: 15rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-family: map-get($title, font-family);
    font-weight: 700;
    font-size: 2rem;
    padding: $padding-small;
  }
  &__text {
    font-family: map-get($subtitle, font-family);
    font-weight: 400;
    font-size: 1.8rem;

    font-size: $font-medium;
  }
}
