@import '../styles/variables';

.thankyou {
  &__title {
    font-family: map-get($title, font-family);
    font-weight: map-get($title, font-weight);
    font-size: map-get($title, font-size);
    padding: $padding-small;
    color: $text-color;
  }

  &__title2 {
    font-family: map-get($title, font-family);
    font-weight: map-get($title, font-weight);
    font-size: map-get($subtitle, font-size);
    padding: $padding-small;
    color: $secondary-color-darker;
  }

  &__subtitle {
    font-family: map-get($subtitle, font-family);
    font-weight: 500;
    font-size: map-get($subtitle, font-size);
    padding: $padding-small;
    color: $text-color;
  }
}

.buttons {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;

  button {
    width: 100%;
    max-width: 400px;
  }
}
