@import '../../styles/_variables';

input[type='text'],
select,
button {
  line-height: 3rem;
  height: 3rem;
  font-size: $font-medium;
  padding: 0 0.5rem;
}

label {
  line-height: 3rem;
  height: 3rem;
  font-size: $font-medium;
}

button {
  border-radius: 0.5rem;
  padding: $padding-x-small $padding-medium;
  font-size: $font-medium;
  font-weight: bold;
  height: calc($font-medium * 2.5);
  vertical-align: middle;
  border: 0;
  outline: 0;
  background-color: $secondary-color;
  color: white;

  &:hover {
    background-color: $main-color;
    color: white;
    cursor: pointer;
  }
}
