@import '../../styles/_variables';
@import '../../styles/mixins';

.loader-container {
  width: 100%;
  @include center-flex;
  padding: 2rem 0;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: $main-color;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  opacity: 0.6;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
