@import '../../styles/_mixins';
@import '../../styles/_variables';

.form {
  width: 80vw;
  max-width: $xxs-width;
  margin: 0 auto 2rem;
  font-family: map-get($body, font-family);
  font-weight: 700;
  text-align: left;
  font-size: 1.6rem;
  padding: $padding-medium;
  &__text{
    font-size: $font-small;
  }
}

.form ul {
  list-style-type: none;
  @include column-top-stretch;

  li {
    flex-basis: 100%;
    @include column-top-stretch;
    font-size: $font-small;
  }
}

.form > ul {
  gap: $padding-medium;
  font-size: $font-small;

}
.form select option {
  font-size: $font-small;
}

.form .options__select label {
  margin: 0 1rem;
}

.question-section {
  width: calc(100vw - 2rem);
  max-width: $xxs-width;
  margin: 0 auto;
  font-size: $font-small;

}

.answer-section textarea {
  width: 100%;
  height: 15rem;
  font-family: $main-font;
  font-size: $font-small;
  padding: $padding-small;
  margin-bottom: $padding-small;
  
}

.user-answer,
.feedback {
  font-weight: 200;
  margin: 2rem 0;
  text-align: left;
}

.question {
  margin-bottom: $padding-medium;
  padding: $padding-medium;
  border: 1px solid #666;
  border-radius: 1rem;
}

.button{
  &__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  gap: $padding-medium;
}
&__item{
  width: 100%;
  margin: 0px;

}
&__secondary{
  background-color: white;
  border: solid $main-color 1px;
  color: $main-color;
  width: 70%  ;
  padding-left: 0;
  padding-right: 0;
}
}
.error{
  color: #AF1D03;
  font-size: $font-small;
  font-weight: 400;
}
